{#
/**
 * @file
 * Template for the Maklerweather block for current weather.
 * Available variables:
 * - maklerweather_detail: array of weather list.
 */
#}

<div class="makler-weather-container">
  <div class="makler-weather-list">

    <div class="weather-icon">
        <span class="data">
          {% if (image) %}
            <img src="https://openweathermap.org/img/w/{{ image }}.png" alt=""/>
          {% endif %}
        </span>
    </div>

    <div class="city"><h3>
        {% if (name) %}
          {{ name }}
        {% endif %}
      </h3></div>

  </div>
</div>
